.registerTitle {
    text-align: center;
    font-size: 3em;
}

.register-form label,
.register-form input {
    display: block;
}

.logInBtn {
    width: 100%;
}

.card-2 {
    max-width: 600px;
    min-width: 300px;
}
