.footer {
    width: 100%;
    max-width: 1024px;
    font-size: 12px;
    margin-bottom: 30px;
}

.fLists {
    /*width: 100%;*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.fList {
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
}

.fText {
    margin-left: 10px;
}

.fListItem {
    margin-bottom: 10px;
    color: #0F5A32;  /*color-primary-3*/
    cursor: pointer;
}
