.header {
    background: linear-gradient(rgba(41, 125, 100, 0.5), rgba(40, 120, 77, 0.5)),
    url("./image/hotel2.jpg") bottom no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    height: 70vh;
    margin: 20px 0 0 0;
}

.headerTitle {
    color: white;
    font-size: 60px;
}

.headerDesc {
    margin: 5px 0 20px 0;
    color: white;
    font-size: 20px;
}

.headerDesc span {
    font-size: 20px;
}

.Btn {
    background-color: #ffffff;
    color: #4B966E;
    font-weight: 600;
    font-size: 15px;
    border: none;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.headerContainer.listMode {
    margin: 20px 0 0 0;
}

.headerContainer.listMode {
    margin: 20px 0 0 0;
    height: 30vh;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: .6s;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 50px;
}

.headerDesc {
    margin: 20px 0;
}

.deals {
    font-weight: 800;
    font-size: 18px;
}

.headerSearch {
    height: 30px;
    background-color: white;
    border: 3px solid #4B966E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
    border-radius: 50px;
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
}

.headerSearchInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}

.bedIcon {
    margin-left: 25px;
}

.headerSearchText {
    color: #999999;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 50px;
    z-index: 2;
}

.options {
    z-index: 2;
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid #78B494;
    color: #78B494;
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.headerBtn {
    width: 100%;
    background-color: #4B966E;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 0 51px 51px 0;
    padding: 18px 30px;
    cursor: pointer;
}

.flex-center {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
