.navbar {
  background-color: rgba(0, 0, 0, 0.1) !important;
  overflow: hidden;
  z-index: 500 !important;
}

.navbar .navbar-brand {
  color: white !important;
  font-weight: bold;
  font-size: 1.6rem;
}

.navbar ul li .btn {
  background: white !important;
  cursor: pointer;
  border-radius: 3px !important;
}

.navbar ul li .btn i {
  font-size: 17px;
  color: red;
}

.navbar.active {
  background-color: rgba( 15, 90, 50, 1) !important;
}

.login-btn {
  display: flex;
  align-items: center;
  background-color: white !important;
  color: black !important;
}

.login-btn:hover {
  background-color: rgba(10, 10, 10, 0.3) !important;
  color: white !important;
  translate: 0 0.5px;
}

.login-btn i {
  margin-left: 0.3rem;
  font-size: 14px;
}

.navbar .navbar-brand:hover {
  color: #ffffff !important;
  translate: 0 0.5px;
}
